# 环境变量配置
# 注意事项:
# 1.凡是在注释中添加[使用存储]标识的配置,都会在第一次初始化后会同步到动态配置存储中即config.yml,
# 后续如果再要更改可以直接修改yml文件或自己建立一个crud控制器去修改
# 2.带有[必填]标识的配置字段代表,如果要启用该功能则必须要填写,如果不想通过环境配置也可以直接在config目录中把该字段写死,
# 不带的均为选填,选填的字段具有自带的默认值,对于注释掉的环境变量如果不填写则会自动生成

################################## 应用 ##################################

# 应用监听地址
APP_HOST=127.0.0.1
# 应用监听端口
APP_PORT=3100
# 是否开启SSL(建议通过Nginx反向代理来使用SSL)
APP_HTTPS=false
# 默认时区
APP_TIMEZONG='Asia/Shanghai'
# 默认语言
APP_LOCAL='zh-cn'
# 是否启用websockets服务
APP_WEBSOCKETS=false
# 控制台打印的URL,同时也是最终绑定的URL,会用于OAuth回调等
# APP_URL

################################## 数据库 ##################################

# 与Redis等配置不同的是数据库配置默认就是多连接的,所以必须填写字段,可以由此处的环境进行配置也可以直接在配置文件写死
# 可修改./src/config/database.config.ts文件实现

# 数据库地址
DB_HOST=127.0.0.1[必填]
# 数据库端口
DB_PORT=3306[必填]
# 数据库用户名[必填]
DB_USER=root
# 数据库密码[必填]
DB_PASSWORD=root
# 数据库名称[必填]
DB_NAME=3r-room

################################## Redis ##################################

# 默认通过环境变量配置数据只适用于单个redis连接,如需多个连接或其它驱动配置
# 可修改./src/config/redis.config.ts文件实现

# Redis地址
REDIS_HOST=127.0.0.1
# Redis端口
REIDS_PORT=6379
# Redis用户名
# REDIS_USER=
# Redis密码
# REDIS_PASSWORD=

################################## QUEUE ##################################
# 默认通过环境变量配置数据只适用于单个列队,如需多个连接或其它驱动配置
# 可修改./src/config/quque.config.ts文件实现

# REDIS连接名称
QUEUE_REDIS_NAME=default

################################## 发信 ##################################
# 注意: 
# 1.用户发送短信验证码的配置,目前应用只支持腾讯云发短信,后续会增加其它厂商
# 2.用户发送邮件验证码的配置,目前应用只支持SMTP发信,后续会增加其它厂商

# 腾讯云短信签名[必填]
SMS_QCLOUD_SIGN=sms-qcloud-sign
# 腾讯云短信签名[必填]
SMS_QCLOUD_REGION=ap-guangzhou
# 腾讯云短信APPID[必填]
SMS_QCLOUD_APPID=your-app-id
# 腾讯云短信SECRET_ID[必填]
SMS_QCLOUD_ID=your-secret-id
# 腾讯云短信SECRET_KEY[必填]
SMS_QCLOUD_KEY=your-secret-key
# SMTP服务器主机[必填]
SMTP_HOST=your-smtp-host
# SMTP用户名[必填]
SMTP_USER=your-smtp-username
# SMTP密码[必填]
SMTP_PASSWORD=your-smtp-password
# SMTP是否启用SSL
SMTP_SECURE=false
# SMTP端口默认根据是否启用SECURE来使用443或25,也可以自行设置
# SMTP_PORT=
# SMTP发送者,默认与SMTP_USER一致
# SMTP_FROM=

################################## 全文搜索 ##################################
# 注意:
# 默认通过环境变量配置数据只适用于单个elastic连接,如需多个连接或其它驱动配置
# 可修改./src/config/elastic.config.ts文件实现

# ElasticSearch主机地址
ELASTIC_HOST=http://localhost:9200

################################## 用户模块 ##################################

# 启动应用后自动插入数据库的超级管理员

# 超级管理员用户名
SUPER_ADMIN_USERNAME=admin
# 超级管理员密码
USER_ADMIN_PASSWORD=123456aA$

# token加密密匙,开发环境中使用pnpm cli user:token:gen或pnpm cli utg生成

# 生产环境中使用node main.js user:token:gen或node main.js utg生成
USER_TOKEN_SECRET=my-secret
# token过期时间
USER_TOKEN_EXPIRED=3600
# refreshToken的加密密匙,与token的加密密匙在运行pnpm cli utg命令时一起生成
USER_REFRESH_TOKEN_SECRET=my-refresh-secret
# refreshToken的过期时间,即用户选择自动登录后的时间,108000等于30天
# 如果用户不选择自动登录,则其值与token的过期时间相同
# 注意这个值必须大于token的过期时间,否则就自动等于token的过期时间
USER_REFRESH_TOKEN_EXPIRED=108000

# 用户发送登录,注册,找回密码,重置密码以及绑定邮箱m手机号等操作的验证码配置
# 注意: 
# 1.任何一个发短信操作的前提条件是需要为'user.enables'的配置数组添加该操作
# 2.此处所有配置[使用存储]

# 验证码发送频率限制
USER_CAPTCHA_LIMIT=60
# 验证码过期时间
USER_CAPTCHA_EXPIRED=1800

# 短信验证码配置
USER_PHONE_QCLOOUD_LOGIN_CAPTCHA=template-id
USER_PHONE_QCLOOUD_REGISTER_CAPTCHA=template-id
USER_PHONE_QCLOOUD_RETRIEVEPASSWORD_CAPTCHA=template-id
USER_PHONE_QCLOOUD_RESETPASSWORD_CAPTCHA=template-id
USER_PHONE_QCLOOUD_ACCOUNTBOUND_CAPTCHA=template-id

# 邮箱验证码配置
# 注意: 邮件模板默认与操作名相同,位于assets/emails中,所以一般情况下无需配置
# USER_EMAIL_LOGIN_CAPTCHA=template-name
# USER_EMAIL_REGISTER_CAPTCHA=template-name
# USER_EMAIL_RETRIEVEPASSWORD_CAPTCHA=template-name
# USER_EMAIL_RESETPASSWORD_CAPTCHA=template-name
# USER_EMAIL_ACCOUNTBOUND_CAPTCHA=template-name